<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>英语作文跑题检测系统</title>
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/planWrite.css' %}">
	<script type="text/javascript" src="{% static 'login/js/planWrite.js' %}"></script>
</head>
<body>
<form action="{% url 'login:save_unsupervised' %}" method="post">
    {% csrf_token %}
	<div id="plan_write_head">
		<div id="plan_write_title">
			作文标题：<input type="text" size="40" id="title" name="title" required="yes" value="{{title}}">
			<input type="hidden" name="record_id" required="yes" value="{{record_id}}">
			<div id="tips" onmouseover="showTips();" onmouseout="hideTips();">备忘录</div>
			<div id="tipsBox">
				<ul>
					<li>1.第一是什么咧？我不知道啊</li>
					<li>2.第二是什么？我第一都不知道，怎么会知道第二捏~</li>
					<li>3.第三个是什么？不要问了，捂脸</li>
				</ul>
			</div>
		</div>
		<div id="plan_write_detail">
			<div id="totalNum">总词数：<span id="totalNumber">0</span></div>
			<div id="spendTime">所用时间：<span id="spendTimer">00:00:00</span></div>
		</div>
		<div class="back" onclick="plan_back();"></div>
	</div>

		<div id="plan_write_body">
			<div id="plan_write_textBox">
				<textarea rows="17" cols="78" id="textareaBox" name="content" required="yes" oninput="NumberCount();" >{{content}}</textarea>
			</div>
			<div id="plan_write_button">
				<input type="hidden" id="sign" name="sign" value="1">
				<!--<button id="plan_save">保存</button>-->


				<input type="submit" value="保存" id="plan_save" onclick="this.form.sign.value='1'">
				<input type="submit" value="提交" id="plan_submit" onclick="this.form.sign.value='2'">

			</div>
		</div>

		<p id="copyRight">Copy 2017 All rights reserved</p>
</form>

<!--<script type="text/javascript" >-->
					<!--var sign = document.getElementById('sign');-->
					<!--if (sign.value == '1'){-->
						<!--alert("保存成功!");-->
					<!--}-->
				<!--</script>-->
</body>
</html>